<!DOCTYPE html>
<html>
  
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">  </head>
  <body>
    <a href="/movies">Volver al listado</a> <br>
    <div class="todo">
      <li>
        <%actors.forEach(actor => { %>
            <ul>
            <a href="/actors/<%=actor.id%>"><%= actor.first_name %> <%= actor.last_name %> </a><br>
          </ul>
          <% }); %>
        </li>
      </div>
  </body>
</html>