<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <ul>
      <a href="/movies">Volver al listado</a> <br>
        <%actors.forEach(actor => { %>
          <a href="/actors/<%=actor.id%>"><%= actor.first_name %> <%= actor.last_name %> </a><br>
        <% }); %>
      </ul>
  </body>
</html>