<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <ul> <% episodes.forEach(episode => { %>
      
      <li><%= episode.title %></li>
      </ul>
    <% }); %>
  </body>
</html>