<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <li><% genres.forEach(genre => { %>
    <ul>
        <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
        <% }); %>
      </ul>
    </li>
  </body>
</html>