<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <ul>
      <a href="/movies"> Volver al listado.</a> <br>
      <li>Título: <%= specificGenre.name %></li>
      <li>ranking: <%= specificGenre.ranking %></li>
      <li>Activo: <%= specificGenre.active %></li>
      <li>
      </li>
  </body>
</html>