<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="todo">
      <%- include('./partials/header') %>
      <div class="pelis">
      <li>
        <% movies.forEach(movie => { %>
        <div class="peli">
          <a href="movies/detail/<%= movie.id %>" class="test"><ul >
            <%= movie.title %>
          </ul></a>
          <hr>
        </div>
        <% }); %>
        <a href="/movies/paginaescondida"><ul class="jeje">shhh!</ul></a>
      </div>
        <script src="../javascripts/front.js">

        </script>
      </li>
    </div>
  </body>
</html>
