<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav>
      <li> 
        <ul><a href="/genres">Géneros</a> <br></ul>
        <ul><a href="/actors">Actores</a> <br></ul>
        <ul><a href="/episodes">Episodios</a> <br></ul>
        <ul><a href="/series">Series</a> <br></ul>
        <ul><a href="/seasons">Temporadas</a> <br></ul>
        <ul><a href="/movies/new">Nuevos estrenos</a> <br></ul>
        <ul><a href="/movies/recommended">Pelis recomendadas</a> <br></ul>
        <ul><a href="/movies/search">Buscar</a> <br></ul>
        <ul><a href="/movies/add"> Agregar peliculas</a></ul>
    </li>
    </nav>
    <li><% movies.forEach(movie => { %>
      <ul>
        <a href="movies/detail/<%= movie.id %>"><%= movie.title %>
      </ul>
        <% }); %>
    </li>
  </body>
</html>
