<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">  </head>
  <body>
    <li><% migrations.forEach(migration => { %>
    <ul>
        <%= migration.batch %>
        <%= migration.migration %>
        <% }); %>
      </ul>
    </li>
  </body>
</html>