<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/movies"><p>Volver al listado</p></a>
    <% newMovies.forEach(movie => { %>
      <a href="/movies/detail/<%= movie.id%>"><p><%= movie.title %></p></a>
      <p><%= movie.release_date %></p>
    <% }); %>
  </body>
</html>