<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <% recommend.forEach(movie => { %>
      
      <a href="/movies/detail/<%=movie.id %>"><p><%= movie.title %></p></a>
      <p><%= movie.rating %></p>
    <% }); %>
  </body>
</html>