<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <div class="todo">
      <div class="buscar">
        <form action="/movies/search" method="post">
          <input type="search" name="buscar" id="" placeholder="Buscar...">
      </form>
    </div>
  </div>
      </ul>
    </li>
  </body>
</html>