<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <li><% seasons.forEach(season => { %>
    <ul>
        <%= season.title %>
        <% }); %>
      </ul>
    </li>
  </body>
</html>