<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <div class="todo">
      <li><% series.forEach(serie => { %>
      <ul>
          <%= serie.title %>
        </ul>
        <% }); %>
      </li>
    </div>
  </body>
</html>
