<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/movies">Volver al listado</a>
    <li><% series.forEach(serie => { %>
    <ul>
        <%= serie.title %>
        <% }); %>
      </ul>
    </li>
  </body>
</html>
