<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
    <div class="todo">
      <div class="pelis">
        <li><% series.forEach(serie => { %>
          <ul>
            <%= serie.title %>
          </ul>
          <% }); %>
        </li>
      </div>
    </div>
  </body>
</html>
