<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <li><% users.forEach(user => { %>
    <ul>
        <%= user.name %>
        <% }); %>
      </ul>
    </li>
  </body>
</html>
